{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}DoaAção | Entrar{% endblock %}

{% block content %}

<section class="u-clearfix u-palette-2-base u-section-3" id="sec-72ac">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>

<form method="post">

    {% csrf_token %}

    <section class="u-align-center u-clearfix u-grey-10 u-section-2" id="FORM">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <br>
            <div class="u-align-center u-container-style u-group u-radius-5 u-shape-round u-white u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <img class="u-image" src="/static/images/login_icon.svg" alt="">
                    <h3 class="u-text u-text-default u-text-1">
                        Nova Senha
                    </h3>
                    <img class="u-image" src="/static/images/form_divider.svg" alt="">
                    <p class="u-text u-text-2">
                        Insira abaixo a sua nova senha:
                    </p>


                    {% if form.errors %}
                    <section class="u-clearfix u-section-10" id="">
                        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
                            <div class="u-clearfix u-palette-1-light-3 u-layout-wrap ">
                                <div class="u-layout">
                                    <div
                                        class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                                            <p><strong>Por favor, entre com um usuário e
                                                senha corretos.</strong><br>Note que ambos os
                                                campos diferenciam maiúsculas e minúsculas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    {% endif %}

                    <br>
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="u-form-group u-form-group-1">
                        <label for="id_old_password" class="u-form-control-hidden u-label u-text-black"></label>
                        <input type="password" placeholder="Senha antiga" name="old_password" autofocus="" autocapitalize="none"
                            autocomplete="current-password" maxlength="150" class="u-grey-10 u-input u-input-rectangle"
                            required="" id="id_old_password">
                    </div>

                    <br>

                    <div class="u-form-group u-form-group-1">
                        <label for="id_new_password1" class="u-form-control-hidden u-label u-text-black"></label>
                        <input type="password" placeholder="Insira a nova senha" id="" name="new_password1" autocomplete="new-password"
                            class="u-grey-10 u-input u-input-rectangle" required="" id="id_new_password1">
                    </div>
                    <br>
                    <div class="u-form-group u-form-group-1">
                        <label for="id_new_password2" class="u-form-control-hidden u-label u-text-black"></label>
                        <input type="password" placeholder="Insira novamente a nova senha" id="" name="new_password2" autocomplete="new-password"
                            class="u-grey-10 u-input u-input-rectangle" required="" id="id_new_password2">
                    </div>

                    <div class="u-align-center u-form-group u-form-submit">
                        <button type="submit"
                            class="u-btn u-btn-submit u-button-style u-radius-7 u-btn-1">Criar Nova Senha</button>
                    </div>

                </div>
            </div>
            <br>
        </div>
        <br>
    </section>
</form>
{% endblock %}