{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}DoaAção | Cadastro{% endblock %}

{% block content %}

<section class="u-clearfix u-palette-2-base u-section-3" id="sec-72ac">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>

<form method="post">

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <section class="u-align-center u-clearfix u-grey-10 u-section-2" id="FORM">
        <br>
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <br>
            <div class="u-align-center u-container-style u-group u-radius-5 u-shape-round u-white u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <img class="u-image" src="/static/images/settings_icon.svg" alt="">
                    <h3 class="u-text u-text-default u-text-1">
                        EDITAR PERFIL
                    </h3>
                    <img class="u-image" src="/static/images/form_divider.svg" alt="">
                    <p class="u-text u-text-2">
                        Por enquanto, você pode editar apenas <strong>o seu endereço</strong>.<br>Não esqueça de preencher <strong>todos os campos!</strong>.
                    </p>

                    {% if form.errors %}
                    <section class="u-clearfix u-section-10" id="">
                        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
                            <div class="u-clearfix u-palette-1-light-3 u-layout-wrap ">
                                <div class="u-layout">
                                    <div
                                        class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                                            <h4>Dados Incorretos</h4>
                                            <p class="u-align-left">O nome de usuário pode já estar em uso, ou a senha não respeita as regras abaixo:</p>
                                            <small class="u-align-left">
                                                <ul>
                                                    <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                                                    <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                                                    <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                                                    <li>Sua senha não pode ser inteiramente numérica.</li>
                                                </ul>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    {% endif %}


                    <div class="u-form-group u-form-group-1">
                        <label for="" class="u-form-control-hidden u-label u-text-black"></label>
                        <input type="text" name="street" maxlength="50" placeholder="Endereço" id="id_street" required
                            class="u-grey-10 u-input u-input-rectangle">
                    </div>
                    <br>
                    <div class="u-form-select-wrapper">
                        <select id="id_state" name="state" required class="u-grey-10 u-input u-input-rectangle">
                            <option value="" disabled selected>Estado</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rio GRande do Sul">Rio GRande do Sul</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                    <br>

                    <div class="u-align-center u-form-group u-form-submit">
                        <button type="submit"
                            class="u-btn u-btn-submit u-button-style u-radius-7 u-btn-1">ATUALIZAR</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
    </section>
</form>

{% endblock %}