{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt-BR">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="page_type" content="np-template-header-footer-from-plugin">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/projetoPrincipal.css" media="screen">
  <link rel="stylesheet" href="/static/css/projetoElementos.css" media="screen">
  <script class="u-script" type="text/javascript" src="/static/javascript/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/static/javascript/projetoElementos.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Mitr:200,300,400,500,600,700">
  <script type="application/ld+json">
      {"@context": "http://schema.org",
      "@type": "Organization",
      "name": "DoaAção",
      "logo": "/static/images/doaacao_logo_fund_claro_horizontal.svg"}
    </script>

  <meta name="theme-color" content="#9a3585">
  <meta property="og:title" content="projeto">
  <meta property="og:type" content="website">
</head>

<!-- MENU DESKTOP ---------------------- -->

<body class="u-body u-stick-footer">
  <header class="u-clearfix u-header u-header" id="sec-d9ff">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-offcanvas-shift u-menu-1"
        data-responsive-from="MD">
        <div class="menu-collapse"
          style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
          <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-2-base"
            href="{% url 'home' %}">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">


            <!-- Redirect to login -->



            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home<br><span style="color:white;font-size:10px;">.</span></a>
            </li>

            {% if user.is_authenticated %}
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
                href="{% url 'painel' %}" style="padding: 10px 0px;">Olá, {{user.username}}<br><span style="color:#e95374;font-size:10px;">
                  {% if user.role == 'Doador' %}
                  PAINEL DO DOADOR</span></a>
                  {% else %}
                  PAINEL DO BENEFICIÁRIO</span></a>
                  {% endif %}
            </li>
            {% else %}
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
                href="{% url 'accounts:login' %}" style="padding: 10px 0px;">Entrar<br><span style="color:white;font-size:10px;">.</span></a>
            </li>

            <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
              href="{% url 'saiba-mais' %}" style="padding: 10px 0px;">Saiba Mais<br><span style="color:white;font-size:10px;">.</span></a>
          </li>

            {% endif %}

            {% if user.role == 'Doador' %}
            <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
              href="{% url 'minhas-campanhas' %}" style="padding: 10px 0px;">Minhas Campanhas<br><span style="color:white;font-size:10px;">.</span></a>
            </li>
            {% endif %}
            {% if user.role == 'Beneficiário' %}
            <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
              href="{% url 'doacoes-recebidas' %}" style="padding: 10px 0px;">Doações Recebidas<br><span style="color:white;font-size:10px;">.</span></a>
            </li>
            {% endif %}
            <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-2-base u-border-hover-custom-color-2 u-border-no-left u-border-no-right u-border-no-bottom u-button-style u-nav-link u-text-active-palette-2-base u-text-grey-90 u-text-hover-grey-90"
              href="{% url 'contato' %}" style="padding: 10px 0px;">Contato<br><span style="color:white;font-size:10px;">.</span></a>
          </li>
          </ul>
        </div>

        <!-- MENU MOBILE ---------------------- -->

        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-container-style u-inner-container-layout u-opacity u-opacity-95 u-palette-2-base u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul
                class="u-align-center u-nav u-popupmenu-items u-spacing-0 u-text-hover-palette-3-light-1 u-unstyled u-nav-2">

                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="/home" style="padding: 10px 0px;">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'painel' %}" style="padding: 10px 0px;">Olá,
                    {{user.username}}<br><span style="color:lightpink;font-size:15px;">
                    {% if user.role == 'Doador' %}
                    Painel do Doador</span></a>
                    {% else %}
                    Painel do Beneficiário</span></a>
                    {% endif %}
                </li>

                {% if user.role == 'Doador' %}
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="{% url 'minhas-campanhas' %}" style="padding: 10px 0px;">Minhas Campanhas</a>
                </li>
                {% else %}
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="{% url 'doacoes-recebidas' %}" style="padding: 10px 0px;">Doações Recebidas</a>
                </li>
                {% endif %}


                {% else %}
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="{% url 'accounts:login' %}"
                    style="padding: 10px 0px;">Entrar</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="{% url 'saiba-mais' %}" style="padding: 10px 0px;">Saiba Mais</a>
                </li>
                {% endif %}

                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="{% url 'contato' %}" style="padding: 10px 0px;">Contato</a>
                </li>

                {% if user.is_authenticated %}
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link u-palette-2-light-1 u-radius-7" href="{% url 'accounts:logout' %}?next=/home" style="padding: 10px 0px;">Logout</a>
                </li>
                {% else %}
                {% endif %}

              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-85"></div>
        </div>
      </nav>
      <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="342" data-image-height="94">
        <img src="/static/images/doaacao_logo_fund_claro_horizontal.svg" class="u-logo-image u-logo-image-1">
      </a>

      <!-- Botão em Destaque na Visualização Desktop, canto superior direito ---------------------- -->

      <!-- Log out -->
      {% if user.is_authenticated %}
      <a href="{% url 'accounts:logout' %}?next=/home"
        class="u-border-none u-btn u-button-style u-hidden-md u-hidden-sm u-hidden-xs u-hover-palette-2-light-2 u-palette-2-base u-btn-1">
        LOGOUT</a>
      {% else %}
      <a href="{% url 'accounts:register' %}"
        class="u-border-none u-btn u-button-style u-hidden-md u-hidden-sm u-hidden-xs u-hover-palette-2-light-2 u-palette-2-base u-btn-1">
        FAÇA PARTE</a>
      {% endif %}

    </div>
  </header>

  {% block content %}
  {% endblock %}

  <!-- RODAPÉ --------------------------- -->
  <footer class="u-align-center u-clearfix u-custom-color-6 u-footer u-footer" id="sec-0fc3"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="197" data-image-height="85">
        <img src="/static/images/doaacao_logo_fund_escuro_vertical.svg" class="u-logo-image u-logo-image-1">
      </a>
      <img class="u-align-center-xs u-image u-image-default u-preserve-proportions u-image-2"
        src="/static/images/squadtech.svg" alt="" data-image-width="609" data-image-height="59">
    </div>
  </footer>

  <section class="u-align-center u-clearfix u-cookies-consent u-grey-80 u-cookies-consent">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-43-md u-size-43-sm u-size-43-xs u-size-46-lg u-size-46-xl u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">Cookies &amp; Privacidade</h3>
                <p><small>Este site utiliza cookies para fornecer a melhor experiência possível para você, além de monitorar e analisar o tráfego no nosso website. Suas preferências podem ser alteradas a qualquer momento nas definições de cookies de seu navegador.</small> </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-14-lg u-size-14-xl u-size-17-md u-size-17-sm u-size-17-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-layout-2">
                <a href="###" class="u-btn u-button-confirm u-button-style u-palette-1-base u-btn-1">Li e Aceito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <style>
  
.u-cookies-consent {
background-image: none;
}

.u-cookies-consent .u-sheet-1 {
min-height: 212px;
}

.u-cookies-consent .u-layout-wrap-1 {
margin-top: 30px;
margin-bottom: 30px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 152px;
}

.u-cookies-consent .u-container-layout-1 {
padding: 30px 60px;
}

.u-cookies-consent .u-text-1 {
margin-top: 0;
margin-right: 20px;
margin-bottom: 0;
}

.u-cookies-consent .u-text-2 {
margin: 8px 158px 0 0;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 152px;
}

.u-cookies-consent .u-container-layout-2 {
padding: 30px;
}

.u-cookies-consent .u-btn-1 {
margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
.u-cookies-consent .u-sheet-1 {
  min-height: 131px;
}

.u-cookies-consent .u-layout-cell-1 {
  min-height: 125px;
}

.u-cookies-consent .u-text-1 {
  margin-right: 0;
}

.u-cookies-consent .u-text-2 {
  margin-right: 5px;
}

.u-cookies-consent .u-layout-cell-2 {
  min-height: 125px;
}
}

@media (max-width: 991px) {
.u-cookies-consent .u-sheet-1 {
  min-height: 106px;
}

.u-cookies-consent .u-layout-cell-1 {
  min-height: 100px;
}

.u-cookies-consent .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-cookies-consent .u-text-2 {
  margin-right: 0;
}

.u-cookies-consent .u-layout-cell-2 {
  min-height: 100px;
}
}

@media (max-width: 767px) {
.u-cookies-consent .u-sheet-1 {
  min-height: 225px;
}

.u-cookies-consent .u-layout-cell-1 {
  min-height: 154px;
}

.u-cookies-consent .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.u-cookies-consent .u-layout-cell-2 {
  min-height: 65px;
}

.u-cookies-consent .u-container-layout-2 {
  padding: 10px;
}
}

@media (max-width: 575px) {
.u-cookies-consent .u-sheet-1 {
  min-height: 121px;
}

.u-cookies-consent .u-layout-cell-1 {
  min-height: 100px;
}

.u-cookies-consent .u-layout-cell-2 {
  min-height: 15px;
}
}</style></section>

</body>

</html>