{% extends 'base.html' %}
{% block title %}DoaAção | Painel{% endblock %}
{% block content %}
    
    <section class="u-align-center u-clearfix u-white u-perfil-1" id="sec-c8fb">
        <div class="u-container-style u-expanded-width u-group u-image u-image-1" data-image-width="1037" data-image-height="351">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-image u-image-circle u-image-2" alt="" data-image-width="200" data-image-height="200"></div>
        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-group u-group-2">
          <div class="u-container-layout">
            <h3 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-default u-text-1">{{userProfile.first_name}}</h3>
            <h6 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-custom-color-9 u-text-default u-text-2">@{{userProfile}}</h6>
          </div>
        </div>
        <p class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-grey-60 u-text-3">{{userProfile.description}}</p>
      </section>


      <section class="u-align-left u-clearfix u-perfil-2">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
          <a href="{% url 'lista-beneficiados' %}" class="u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xs u-border-2 u-border-palette-2-base u-btn u-button-style u-hover-palette-2-dark-1 u-palette-2-base u-text-hover-white u-text-white u-btn-1">MAIS PERFIS</a>
          <a href="#dados" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-text-black u-text-hover-palette-2-base u-btn-2">Meus Dados</a>
          <a href="#necessidades" class="u-active-none u-border-2 u-border-hover-palette-2-dark-1 u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-radius-0 u-text-black u-text-hover-palette-2-base u-btn-3">Minha Necessidade</a>
          <a href="#posts" class="u-active-none u-border-2 u-border-hover-palette-2-dark-1 u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-text-black u-text-hover-palette-2-base u-btn-4">Meus Posts</a>
        </div>
      </section>


      <section class="u-clearfix u-perfil-3" id="necessidades">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
          <h4 class="u-text u-text-default u-text-palette-3-dark-2 u-text-1">Minha Atual Necessidade</h4>
          <div class="u-container-style u-expanded-width u-group u-palette-3-light-3 u-radius-6 u-shape-round u-group-1">
            <div class="u-container-layout u-container-layout-1">
              <p class="u-text u-text-default u-text-2">
                {% for item in doneeNeed %}
                {{item.need}}
                {% endfor %}
            </div>
          </div>
        </div>
      </section>



      <section class="u-clearfix u-perfil-4" id="posts">
        <div class="u-align-left u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
          <h4 class="u-text u-text-custom-color-9 u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">Meus Posts</h4>
          <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">

            {% for post in userPosts %}                
              <div class="u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                  <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="/static/images/painel_perfil_icon.svg" alt="" data-image-width="200" data-image-height="200">
                  <img class="u-image u-image-default u-image-2" src="/static/images/posts_seta_balao.svg" alt="" data-image-width="125" data-image-height="150">
                  <div class="u-container-style u-grey-5 u-group u-radius-6 u-shape-round u-group-1">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                      <p class="u-custom-item u-text u-text-default u-text-2">{{post.post}}</p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
        </div>
      </section>




      <section class="u-clearfix u-perfil-5" id="dados">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
          <h4 class="u-align-center u-text u-text-default u-text-palette-1-base u-text-1">Meus Dados</h4>
          <p class="u-text u-text-default u-text-grey-70 u-text-2">{{userProfile.first_name}}</p>
          <p class="u-text u-text-default u-text-3">Nome</p>
          <p class="u-text u-text-default u-text-grey-70 u-text-4">{{userProfile.entity_type}}</p>
          <p class="u-text u-text-default u-text-5">Pessoa</p>
          <p class="u-text u-text-default u-text-grey-70 u-text-6">{{userProfile.cpf_cnpj}}</p>
          <p class="u-text u-text-default u-text-7">CPF/CNPJ</p>
          <p class="u-text u-text-black u-text-default u-text-8">E-mail</p>
          <p class="u-text u-text-default u-text-grey-70 u-text-9">{{userProfile.email}}</p>
          <p class="u-text u-text-black u-text-default u-text-10">Endereço</p>
          <p class="u-text u-text-default-xl u-text-grey-70 u-text-11">{{userProfile.street}} - {{userProfile.state}}</p>
        </div>
      </section>


{% endblock %}